# Ignore node_modules and other generated directories
node_modules/
build/
dist/
out/
coverage/
.tmp/
logs/
.cache/

# Ignore specific files
*.min.js
*.map

# Ignore config files
*.env
*.json

# Ingnore Public folder
public/